/*
	 CSS-Tricks Example - Feature Table
	 by Chris Coyier
	 http://css-tricks.com
*/





article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#page-wrap     { margin: 20px auto; }
#feature-table {margin: 0 auto; border-collapse: collapse;}

#feature-table th { height: 45px; padding-bottom: 14px !important; vertical-align: bottom; }
#header-basic { background: url(LIP_Research/images/banner/header-15.png) no-repeat; }
#header-plus { background: url(LIP_Research/images/banner/header-35.png) no-repeat; }
#header-premium { background: url(LIP_Research/images/banner/header-99.png) no-repeat; }
#header-pro { background: url(LIP_Research/images/banner/header-150.png) no-repeat; }
#feature-table th span { position: absolute; top: -9999px; left: -9999px; }

#feature-table td,
#feature-table th { width: 170px; padding: 8px 5px; text-align: center; border-left: 1px solid white; border-right: 1px solid white; }

#feature-table .final-row td { padding: 24px 5px; }

.basic   { background-color: #d5e4bc; background-color: hsla(85,  30%, 80%, 1); }
.plus    { background-color: #c1dcb7; background-color: hsla(110, 30%, 80%, 1); }
.premium { background-color: #bad6c8; background-color: hsla(150, 30%, 80%, 1); }
.pro     { background-color: #bbd3dc; background-color: hsla(190, 30%, 80%, 1); }

.odd .table-col-1 { background-color: #edf3e2; background-color: hsla(85,  30%, 94%, 1); }
.odd .table-col-2 { background-color: #edf3e2; background-color: hsla(110, 30%, 94%, 1); }
.odd .table-col-3 { background-color: #edf3e2; background-color: hsla(150, 30%, 94%, 1); }
.odd .table-col-4 { background-color: #e2ecf0; background-color: hsla(190, 30%, 94%, 1); }
.odd a{text-decoration:none; cursor:point;}

.leftOfFeatured  { background-image: url(/LIP_Research/images/banner/shadow-left.png);  background-repeat: repeat-y; background-position: right center; }
.rightOfFeatured { background-image: url(/LIP_Research/images/banner/shadow-right.png);  background-image: url(/LIP_Research/images/banner/shadow-left.png); background-repeat: repeat-y; background-position: left  center; }


.bbutton {
	font-weight:bold;
cursor: pointer;
border-top: 1px solid #ADBBCA;
background: #546C8F;
background: -webkit-gradient(linear, left top, left bottom, from(#6C7794), to(#545B8F));
background: -moz-linear-gradient(top, #6F6C94, #545B8F);
padding: 5px 10px;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
color: white;
font-size: 21px;
font-family: 'Nanum',nanumgothic,'돋움',Dotum,AppleGothic,Helvetica,sans-serif;
text-decoration: none;
vertical-align: middle;
}

.sidebar{
	
left: 72%;
top: 20%;
}
.bbutton:hover {
   border-top-color: #755a99;
   background: #755a99;
   color: #ffffff;
}
.bbutton:active {
   border-top-color: #4f3463;
   background: #4f3463;
   position: relative;
   top: 1px;
}