@CHARSET "UTF-8";
.jqifade {
  background-color:#777777;
  position:absolute;
}
div.jqi {
  background-color:#FFFFFF;
  border:1px solid #EEEEEE;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding:7px;
  position:absolute;
  text-align:left;
  width:400px;
}
div.jqi .jqicontainer {
  font-weight:bold;
}
div.jqi .jqiclose {
  color:#BBBBBB;
  cursor:default;
  font-weight:bold;
  position:absolute;
  right:-2px;
  top:4px;
  width:18px;
}
div.jqi .jqimessage {
  color:#444444;
  line-height:20px;
  padding:10px;
}
div.jqi .jqibuttons {
  background-color:#F4F4F4;
  border:1px solid #EEEEEE;
  padding:5px 0;
  text-align:right;
}
div.jqi button {
  background-color:#2F6073;
  border:1px solid #F4F4F4;
  color:#FFFFFF;
  font-size:12px;
  font-weight:bold;
  margin:0 10px;
  padding:3px 10px;
}
div.jqi button:hover {
  background-color:#728A8C;
}
div.jqi button.jqidefaultbutton {
  background-color:#BF5E26;
}
.jqiwarning .jqi .jqibuttons {
  background-color:#BF5E26;
}
.jqi .jqiarrow {
  border:10px solid transparent;
  font-size:0;
  height:0;
  line-height:0;
  position:absolute;
  width:0;
}
.jqi .jqiarrowtl {
  border-bottom-color:#FFFFFF;
  left:10px;
  top:-20px;
}
.jqi .jqiarrowtc {
  border-bottom-color:#FFFFFF;
  left:50%;
  margin-left:-10px;
  top:-20px;
}
.jqi .jqiarrowtr {
  border-bottom-color:#FFFFFF;
  right:10px;
  top:-20px;
}
.jqi .jqiarrowbl {
  border-top-color:#FFFFFF;
  bottom:-20px;
  left:10px;
}
.jqi .jqiarrowbc {
  border-top-color:#FFFFFF;
  bottom:-20px;
  left:50%;
  margin-left:-10px;
}
.jqi .jqiarrowbr {
  border-top-color:#FFFFFF;
  bottom:-20px;
  right:10px;
}
.jqi .jqiarrowlt {
  border-right-color:#FFFFFF;
  left:-20px;
  top:10px;
}
.jqi .jqiarrowlm {
  border-right-color:#FFFFFF;
  left:-20px;
  margin-top:-10px;
  top:50%;
}
.jqi .jqiarrowlb {
  border-right-color:#FFFFFF;
  bottom:10px;
  left:-20px;
}
.jqi .jqiarrowrt {
  border-left-color:#FFFFFF;
  right:-20px;
  top:10px;
}
.jqi .jqiarrowrm {
  border-left-color:#FFFFFF;
  margin-top:-10px;
  right:-20px;
  top:50%;
}
.jqi .jqiarrowrb {
  border-left-color:#FFFFFF;
  bottom:10px;
  right:-20px;
}
.impromptuwarning .impromptu {
  background-color:#AAAAAA;
}
.impromptufade {
  background-color:#FFFFFF;
  position:absolute;
}
div.impromptu {
  background-color:#CCCCCC;
  padding:10px;
  position:absolute;
  text-align:left;
  width:300px;
}
div.impromptu .impromptuclose {
  color:#213E80;
  cursor:pointer;
  float:right;
  margin:-35px -10px 0 0;
}
div.impromptu .impromptucontainer {
  background-color:#213E80;
  color:#FFFFFF;
  font-weight:bold;
  padding:5px;
}
div.impromptu .impromptumessage {
  background-color:#415EA0;
  padding:10px;
}
div.impromptu .impromptubuttons {
  padding:5px 0 0;
  text-align:center;
}
div.impromptu button {
  margin:0 10px;
  padding:3px 10px;
}
.colsJqifadewarning .colsJqi {
  background-color:#B0BE96;
}
.colsJqifade {
  background-color:#FFFFFF;
  position:absolute;
}
div.colsJqi {
  background-color:#D0DEB6;
  padding:10px;
  position:absolute;
  text-align:left;
  width:400px;
}
div.colsJqi .colsJqiclose {
  color:#BBBBBB;
  cursor:pointer;
  float:right;
  margin:-35px -10px 0 0;
}
div.colsJqi .colsJqicontainer {
  background-color:#E0EEC6;
  color:#FFFFFF;
  font-weight:bold;
  height:160px;
  padding:5px;
}
div.colsJqi .colsJqimessage {
  background-color:#C0CEA6;
  float:left;
  height:140px;
  padding:10px;
  width:280px;
}
div.colsJqi .jqibuttons {
  padding:5px 0 0;
  text-align:center;
}
div.colsJqi button {
  background-color:#FFFFFF;
  background-image:url(http://trentrichardson.com/Impromptu/images/button_bg.jpg);
  background-position:0 0;
  background-repeat:repeat no-repeat;
  border:1px solid #777777;
  font-size:12px;
  margin:5px 5px 5px 10px;
  padding:3px 10px;
  width:75px;
}
div.colsJqi button:hover {
  border:1px solid #AAAAAA;
}
.brownJqiwarning .brownJqi {
  background-color:#CCCCCC;
}
.brownJqifade {
  background-color:#FFFFFF;
  position:absolute;
}
div.brownJqi {
  background-color:transparent;
  padding:10px;
  position:absolute;
  text-align:left;
  width:300px;
}
div.brownJqi .brownJqiclose {
  color:#777777;
  cursor:pointer;
  float:right;
  font-size:11px;
  margin:-20px 0 0;
}
div.brownJqi .brownJqicontainer {
  background-color:transparent;
  border:1px solid #5F5D5A;
  color:#FFFFFF;
  font-weight:bold;
  position:relative;
}
div.brownJqi .brownJqimessage {
  background-color:#F7F6F2;
  border-bottom-color:#C6B8AE;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-top-color:#C6B8AE;
  border-top-style:solid;
  border-top-width:1px;
  position:relative;
}
div.brownJqi .brownJqimessage h3 {
  background-color:#FFFFFF;
  background-image:url(http://trentrichardson.com/Impromptu/images/brown_theme_gradient.jpg);
  background-position:0 0;
  background-repeat:repeat no-repeat;
  color:#4D4A47;
  margin:0;
  padding:7px 0 7px 15px;
}
div.brownJqi .brownJqimessage p {
  color:#777777;
  padding:10px;
}
div.brownJqi .brownJqimessage img.helpImg {
  bottom:-25px;
  left:10px;
  position:absolute;
}
div.brownJqi .brownJqibuttons {
  text-align:right;
}
div.brownJqi button {
  background-color:#FFFFFF;
  background-image:url(http://trentrichardson.com/Impromptu/images/brown_theme_gradient.jpg);
  background-position:0 0;
  background-repeat:repeat no-repeat;
  border:1px solid #777777;
  font-size:12px;
  margin:5px 5px 5px 10px;
  padding:3px 10px;
}
div.brownJqi button:hover {
  border:1px solid #AAAAAA;
}
.cleanbluewarning .cleanblue {
  background-color:#ACB4C4;
}
.cleanbluefade {
  background-color:#AAAAAA;
  position:absolute;
}
div.cleanblue {
  background-color:#FFFFFF;
  border:1px solid #213E80;
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
  position:absolute;
  text-align:left;
  width:300px;
}
div.cleanblue .cleanbluecontainer {
  background-color:#FFFFFF;
  border-top-color:#213E80;
  border-top-style:solid;
  border-top-width:14px;
  font-weight:bold;
  padding:5px;
}
div.cleanblue .cleanblueclose {
  color:#FFFFFF;
  cursor:default;
  float:right;
  font-weight:bold;
  margin:-19px -12px 0 0;
  width:18px;
}
div.cleanblue .cleanbluemessage {
  color:#333333;
  font-size:11px;
  line-height:20px;
  padding:10px;
}
div.cleanblue .cleanbluebuttons {
  background-color:#F4F4F4;
  border:1px solid #EEEEEE;
  padding:5px 0;
  text-align:right;
}
div.cleanblue button {
  background-color:#314E90;
  border:1px solid #F4F4F4;
  color:#FFFFFF;
  font-size:12px;
  font-weight:bold;
  margin:0 10px;
  padding:3px 10px;
}
div.cleanblue button:hover {
  border:1px solid #D4D4D4;
}
.extbluewarning .extblue {
  border:1px solid red;
}
.extbluefade {
  background-color:#FFFFFF;
  position:absolute;
}
div.extblue {
  background-color:#CAD8EA;
  border:1px solid #6289B6;
  padding:0;
  position:absolute;
  text-align:left;
  width:300px;
}
div.extblue .extblueclose {
  background-color:#CAD8EA;
  color:red;
  cursor:pointer;
  margin:2px -2px 0 0;
  text-align:right;
}
div.extblue .extbluecontainer {
  background-color:#CAD8EA;
  color:#000000;
  font-family:Verdana;
  font-size:11px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  padding:0 5px 5px;
}
div.extblue .extbluemessage {
  background-color:#CAD8EA;
  margin:0 15px 15px;
  padding:0;
}
div.extblue .extbluebuttons {
  padding:0;
  text-align:center;
}
div.extblue button {
  background-color:#CCCCCC;
  font-family:Verdana;
  font-size:10px;
  font-weight:normal;
  margin:0 10px;
  padding:1px 4px;
}
.jqismoothfade {
  background-color:#333333;
  position:absolute;
}
div.jqismooth {
  background-color:#FFFFFF;
  border:3px solid #E2E8E6;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size:11px;
  padding:7px;
  position:absolute;
  text-align:left;
  width:350px;
}
div.jqismooth .jqismoothcontainer {
  font-weight:bold;
}
div.jqismooth .jqismoothclose {
  background-color:#E2E8E6;
  border-bottom-color:#E2E8E6;
  border-bottom-left-radius:5px;
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-left-color:#E2E8E6;
  border-left-style:solid;
  border-left-width:1px;
  color:#727876;
  cursor:default;
  font-weight:bold;
  padding:2px 0 4px;
  position:absolute;
  right:0;
  text-align:center;
  top:0;
  width:18px;
}
div.jqismooth .jqismoothmessage {
  color:#444444;
  line-height:20px;
  padding:10px;
}
div.jqismooth .jqismoothbuttons {
  background-color:#F2F8F6;
  border:1px solid #E2E8E6;
  padding:5px 0;
  text-align:right;
}
div.jqismooth button {
  background-color:#2F6073;
  border:1px solid #F4F4F4;
  color:#FFFFFF;
  font-size:12px;
  font-weight:bold;
  margin:0 10px;
  padding:3px 10px;
}
div.jqismooth button:hover {
  background-color:#728A8C;
}
div.jqismooth button.jqismoothdefaultbutton {
  background-color:#BF5E26;
}
.jqismoothwarning .jqismooth .jqismoothbuttons {
  background-color:#BF5E26;
}
